/* NAV Bar */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  gap: 127px;
  font-family: Arial, sans-serif;
  height: 100px;
}


.logo {
  height: 40px;
}


.section {
  display: flex;
  align-items: center;
}


#srchsvg {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 4px;
  gap: 10px;
  background-color: #fcf8f8;
}

#search {
  display: flex;
  align-items: center;
  gap: 8px;
}

#select {
  height: 30px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

#input {
  height: 28px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  width: 265px;
}


.svg {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.search-icon {
  cursor: pointer;
}


.support {
  font-size: 14px;
  line-height: 1.2;
}


.icons {
  gap: 10px;
}


.cart select {
  border: none;
  font-size: 14px;
}

.cart p {
  margin-top: 4px;
  font-weight: bold;
  
}

.cart{
  display: flex;
  flex-direction: column;
}


/* Menu Bar */

.menu{
  margin-top: 20px;
  display: flex;
  gap: 75px;
  select{
    border: none;
    outline: none;
  }
}

.items{
  li{
    display: inline-block;
    margin-right: 20px
  }
  select{
    border: none;
    outline: none;
  }
}

.main{
  display: inline-block;
  margin: 25px 10px;
  background-image: url(images/background-pattern.jpg);
}

.img1{
  img{
    width: 832px;
  }
  display: inline-block;
}

.img2{
  display: inline-block;
  img{
    width: 526px;
  }
}